<!DOCTYPE html>
<html>

<head>

    <title>GateKeeper</title>

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="main-card">

    <div class="left-panel">

        <h1>GateKeeper</h1>

        <p>Monitor. Detect. Protect.</p>

        <form method="POST" id="loginForm">

            <input
            type="text"
            name="username"
            placeholder="Username"
            required>

            <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            required>

            <button type="submit">

                Analyze Login

            </button>

        </form>

        <div id="loading">

            <p>Checking password...</p>

            <p>Checking network...</p>

            <p>Identifying browser...</p>

            <p>Calculating risk score...</p>

        </div>

    </div>

    <div class="right-panel">

        <h2>Login Analysis</h2>

        {% if status %}

        <div class="info">

            <h3>IP Address</h3>

            <p>{{ ip }}</p>

            <h3>Browser</h3>

            <p>{{ browser }}</p>

            <h3>Time</h3>

            <p>{{ current_time }}</p>

            <h3>Status</h3>

            {% if status == "Safe Login" %}

            <span class="safe">

SAFE LOGIN

            </span>

            {% elif status == "Suspicious Login" %}

            <span class="danger">

            SUSPICIOUS LOGIN

            </span>

            {% endif %}

           <h3>Risk Level</h3>

            {% if risk=="Low" %}

            <span class="low">

            LOW

            </span>

            {% else %}

            <span class="high">

            HIGH

            </span>

            {% endif %}

            <h3>Reasons</h3>

            <ul>

                {% for reason in reasons %}

                <li>{{ reason }}</li>

                {% endfor %}

            </ul>

        </div>

        {% else %}

        <div class="empty">

            Login analysis will appear here.

        </div>

        {% endif %}

    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>